.header {
    background-size: cover;
	height: 300px;
    
}

.logo-container {
    border-radius: 50%;
}

img {
    border-radius: 50%;
    opacity: 0.8;
    // animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }